<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
              <p class="card-category" style="color:white">Foo Form</p>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="foochar" name="foochar"[(ngModel)]="foo.fooChar">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="foovarchar" name="foovarchar" [(ngModel)]="foo.fooVarchar">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="footext" type="text" name="footext" [(ngModel)]="foo.fooText">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="fooSmallint" type="number" name="foosmallint" [(ngModel)]="foo.fooSmallint">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="fooInteger" type="number" name="barinteger" [(ngModel)]="foo.fooInteger">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="fooBigint" type="number" name="barbigint" [(ngModel)]="foo.fooBigint">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="fooReal" name="barreal" type="number"  [(ngModel)]="foo.fooReal">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="foodouble" type="number" name="foodouble"  [(ngModel)]="foo.fooDouble">
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="fooDecimal"type="number" name="foodecimal"  [(ngModel)]="foo.fooDecimal">
                  </mat-form-field>
                </div>
                <div class="col-md-4">

                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" name="fooBoolean" type="checkbox" [(ngModel)]="foo.fooBoolean">
                      fooBoolean
                      <span class="form-check-sign">
                         <span class="check"></span>
                         </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">

                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="foodate" name="foodate" [(ngModel)]="foo.fooDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <!-- <input matInput placeholder="barTimestamp" name="bartimestamp" type="datetime" [(ngModel)]="bar.barTimestamp">-->
                    <input matInput [matDatepicker]="picker2" placeholder="footimestamp" name="footimestamp" [(ngModel)]="foo.fooTimestamp">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>

              </div>

              <ng-template [ngIf]="id" [ngIfElse]="loading">

                <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="onSubmit(id)">Editar</button>
                <button mat-raised-button type="submit" class="btn btn-default pull-right" (click)="salir()">Cancelar</button>
              </ng-template>
              <ng-template #loading>
                <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="onSubmit(id)">Guardar</button>
                <button mat-raised-button type="submit" class="btn btn-default pull-right" (click)="salir()">Cancelar</button>
              </ng-template>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
