<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
              <p class="card-category" style="color:white">Bar List</p>
            </div>

            <button mat-raised-button class="btn btn-success" id="add" (click)="redirect()">Nuevo</button>

          </div>

          <div class="card-body">

              <form>
                  <div class="col-md-2" id="contenido">
                     <!--<mat-expansion-panel>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                  Filtro de Busqueda
                              </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barId" name="barId"  [(ngModel)]="barGet.barId">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barChar" name="barChar" [(ngModel)]="barGet.barChar">
                                  </mat-form-field>
                              </div>

                          </div>

                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barVarchar" name="barVarchar" [(ngModel)]="barGet.barVarchar">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barText" name="barText" [(ngModel)]="barGet.barText">
                                  </mat-form-field>
                              </div>

                          </div>

                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barSmallint" name="barSmallint" [(ngModel)]="barGet.barSmallint">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barInteger" name="barInteger" [(ngModel)]="barGet.barInteger">
                                  </mat-form-field>
                              </div>

                          </div>

                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barBigint" name="barBigint" [(ngModel)]="barGet.barBigint">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barReal" name="barReal" [(ngModel)]="barGet.barReal">
                                  </mat-form-field>
                              </div>


                          </div>

                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barDouble" name="barDouble" [(ngModel)]="barGet.barDouble">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barDecimal" name="barDecimal" [(ngModel)]="barGet.barDecimal">
                                  </mat-form-field>
                              </div>


                          </div>
                          <br/>
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barBoolean" name="barBoolean" [(ngModel)]="barGet.barBoolean">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field>
                                      <input matInput placeholder="barDate" name="barDate" [(ngModel)]="barGet.barDate">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-5">

                                      <input class="form-control" type="text"
                                             placeholder="barDateMin-barDateMax"
                                             ngxDaterangepickerMd
                                             [locale]="{
                                             format: 'YYYY-MM-DD',
                                             applyLabel: 'Okay',
                                             clearLabel:'Clear'}"
                                             [drops]="'up'"
                                             [opens]="'right'"
                                             startKey="startDate"
                                             endKey="endDate"
                                             [(ngModel)]="selected"
                                             name="daterange"autocomplete="off"/>


                              </div>
                              <div class="col-md-5">

                                  <input class="form-control" type="text"
                                         placeholder="barDateMin-barDateMax"
                                         ngxDaterangepickerMd
                                         [timePicker]="true"
                                         [timePickerSeconds]="true"
                                         [timePickerIncrement]="15"
                                         [timePicker24Hour]="true"
                                         [locale]="{format: 'DD/MM/YYYY HH:mm:ss',applyLabel: 'Okay', firstDay: 1}"
                                         [opens]="'right'"
                                         [drops]="'up'"
                                         name="datetimerange"autocomplete="off"
                                         />


                              </div>

                          </div>
                          <br/>
                          <div class="row">

                          </div>
                          <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="barGetParam()">Buscar</button>
                          <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="barclean()">Limpiar</button>
                      </mat-expansion-panel>-->
                      <div class="dropdown ">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Buscar
                          </button>
                          <div class="dropdown-menu dropdown-toggle" style="position: inherit">
                             <!-- <div class="card-body" style="width: max-content">
                                  <form>
                                      <div class="col-md-10">

                                          <div class="row">
                                              <div class="col-md-5">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barId" name="barId"  [(ngModel)]="barGet.barId">
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-md-5">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barChar" name="barChar" [(ngModel)]="barGet.barChar">
                                                  </mat-form-field>
                                              </div>

                                          </div>
                                          <div class="row">
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barVarchar" name="barVarchar" [(ngModel)]="barGet.barVarchar">
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barText" name="barText" [(ngModel)]="barGet.barText">
                                                  </mat-form-field>
                                              </div>

                                          </div>
                                          <div class="row">
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barSmallint" name="barSmallint" [(ngModel)]="barGet.barSmallint">
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barInteger" name="barInteger" [(ngModel)]="barGet.barInteger">
                                                  </mat-form-field>
                                              </div>

                                          </div>
                                          <div class="row">
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barBigint" name="barBigint" [(ngModel)]="barGet.barBigint">
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barReal" name="barReal" [(ngModel)]="barGet.barReal">
                                                  </mat-form-field>
                                              </div>


                                          </div>
                                          <div class="row">
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barDouble" name="barDouble" [(ngModel)]="barGet.barDouble">
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barDecimal" name="barDecimal" [(ngModel)]="barGet.barDecimal">
                                                  </mat-form-field>
                                              </div>


                                          </div>
                                          <br/>
                                          <div class="row">
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barBoolean" name="barBoolean" [(ngModel)]="barGet.barBoolean">
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-md-3">
                                                  <mat-form-field>
                                                      <input matInput placeholder="barDate" name="barDate" [(ngModel)]="barGet.barDate">
                                                  </mat-form-field>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-5">
                                                <input class="form-control" type="text"
                                                         placeholder="barDateMin-barDateMax"
                                                         ngxDaterangepickerMd
                                                         [locale]="{
                                                 format: 'YYYY-MM-DD',
                                                 applyLabel: 'Okay',
                                                 clearLabel:'Clear'}"
                                                         [drops]="'up'"
                                                         [opens]="'right'"
                                                         startKey="startDate"
                                                         endKey="endDate"
                                                         [(ngModel)]="selected"
                                                         name="daterange"autocomplete="off"/>
                                              </div>
                                              <div class="col-md-5">
                                               <input class="form-control" type="text"
                                                         placeholder="barDateMin-barDateMax"
                                                         ngxDaterangepickerMd
                                                         [timePicker]="true"
                                                         [timePickerSeconds]="true"
                                                         [timePickerIncrement]="15"
                                                         [timePicker24Hour]="true"
                                                         [locale]="{format: 'DD/MM/YYYY HH:mm:ss',applyLabel: 'Okay', firstDay: 1}"
                                                         [opens]="'right'"
                                                         [drops]="'up'"
                                                         name="datetimerange"autocomplete="off"/>
                                              </div>
                                          </div>
                                               <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="barGetParam()">Buscar</button>
                                               <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="barclean()">Limpiar</button>
                                          <div class="clearfix"></div>


                                      </div>
                                  </form>
                              </div>-->
                              <div class="card-body" style="width: max-content">
                                  <form>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barId" name="barId" type="text"  [(ngModel)]="barGet.barId">
                                              </mat-form-field>
                                          </div>

                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barChar" name="barChar" type="text" [(ngModel)]="barGet.barChar">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                     <div class="row">
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barVarchar" name="barVarchar" type="text" [(ngModel)]="barGet.barVarchar">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barText" name="barText" type="text" [(ngModel)]="barGet.barText">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                     <div class="row">
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barSmallint" name="barSmallint" type="numeric" [(ngModel)]="barGet.barSmallint">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barInteger" name="barInteger" type="numeric" [(ngModel)]="barGet.barInteger">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barBigint" name="barBigint" type="numeric" [(ngModel)]="barGet.barBigint">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barReal" name="barReal" type="numeric" [(ngModel)]="barGet.barReal">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                       <div class="row">
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barDouble" name="barDouble" type="numeric" [(ngModel)]="barGet.barDouble">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="barDecimal" name="barDecimal" type="numeric" [(ngModel)]="barGet.barDecimal">
                                              </mat-form-field>
                                          </div>
                                      </div>
                                       <div class="row">
                                           <div class="col-md-6">
                                               <mat-form-field class="example-full-width">
                                                   <input matInput placeholder="barBoolean" name="barBoolean" [(ngModel)]="barGet.barBoolean">
                                               </mat-form-field>
                                           </div>
                                           <div class="col-md-6">
                                               <mat-form-field class="example-full-width">
                                                   <input matInput class="form-control" type="text" name="barDate"
                                                          placeholder="barDate"
                                                          ngxDaterangepickerMd
                                                          [locale]="{
                                                          format: 'YYYY-MM-DD',
                                                          applyLabel: 'Okay',
                                                          clearLabel:'Clear'}"
                                                          [singleDatePicker]="true"
                                                          [opens]="'right'"
                                                          startKey="startDate"
                                                          [(ngModel)]="selectSimple"
                                                          [autoApply]="true"
                                                           autocomplete="off"/>
                                               </mat-form-field>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="col-md-12">
                                               <mat-form-field class="example-full-width">
                                                   <input matInput class="form-control" type="text"
                                                          placeholder="barDateMin-barDateMax"
                                                          ngxDaterangepickerMd
                                                          [locale]="{
                                                          format: 'YYYY-MM-DD',
                                                          applyLabel: 'Okay',
                                                          clearLabel:'Clear'}"
                                                          [opens]="'right'"
                                                          startKey="startDate"
                                                          endKey="endDate"
                                                          [(ngModel)]="selected"
                                                          [autoApply]="true"
                                                          name="daterange"autocomplete="off"/>
                                               </mat-form-field>
                                           </div>
                                       </div>
                                       <div class="row">
                                           <div class="col-md-12">
                                               <mat-form-field class="example-full-width">
                                                   <input matInput class="form-control" type="text"
                                                          placeholder="barDateMin-barDateMax"
                                                          ngxDaterangepickerMd
                                                          [timePicker]="true"
                                                          [timePickerSeconds]="true"
                                                          [timePickerIncrement]="1"
                                                          [timePicker24Hour]="true"
                                                          [autoApply]="true"
                                                          [locale]="{format: 'DD/MM/YYYY HH:mm:ss',applyLabel: 'Okay', firstDay: 1}"
                                                          [(ngModel)]="selected2"
                                                          name="datetimerange"autocomplete="off"/>
                                               </mat-form-field>
                                           </div>
                                       </div>

                                          <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="barGetParam()">Buscar</button>
                                          <button mat-raised-button type="submit" class="btn btn-default pull-right" (click)="barclean()">Limpiar</button>
                                      <div class="clearfix"></div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
              <div class="col-md-2" id="separador"></div>
              <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>barId</th>
                  <th>barChar</th>
                  <th>barVarchar</th>
                  <th>barText</th>
                  <th>barSmallint</th>
                  <th>barInteger</th>
                  <th>barBigint</th>
                  <th>barReal</th>
                  <th>barDouble</th>
                  <th>barDecimal</th>
                  <th>barBoolean</th>
                  <th>barDate</th>
                  <th>barTimestamp</th>
                  <th>acciones</th>
                </thead>
                <tbody>
                <tr mdbTableCol *ngFor="let el of bars">
                    <td >{{el.barId}}</td>
                    <td>{{el.barChar}}</td>
                    <td>{{el.barVarchar}}</td>
                    <td>{{el.barText}}</td>
                    <td>{{el.barSmallint}}</td>
                    <td>{{el.barInteger}}</td>
                    <td>{{el.barBigint}}</td>
                    <td>{{el.barReal}}</td>
                    <td>{{el.barDouble}}</td>
                    <td>{{el.barDecimal}}</td>
                    <td>{{el.barBoolean}}</td>
                    <td>{{el.barDate}}</td>
                    <td>{{el.barTimestamp}}</td>
                    <td>
                      <button mat-raised-button class="btn btn-success btn-sm" routerLink="/barform-edit/{{el.barId}}"><i class="material-icons">create</i></button>
                      <button mat-raised-button class="btn btn-danger btn-sm" (click)="delete(el.barId)"><i class="material-icons">delete</i></button>

                    </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

