<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
              <p class="card-category" style="color:white">Bar List</p>
            </div>

            <button mat-raised-button class="btn btn-success" id="add" (click)="redirect()">Nuevo</button>

          </div>
          <div class="card-body">
              <div class="col-md-12" id="contenido">
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              Filtro de Busqueda
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                     <div class="row">
                      <div class="col-md-3">
                          <mat-form-field>
                              <input matInput placeholder="barId" name="barId">
                          </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field>
                              <input matInput placeholder="barChar" name="barChar">
                          </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <mat-form-field>
                              <input matInput placeholder="barVarchar" name="barVarchar">
                          </mat-form-field>
                      </div>
                         <div class="col-md-3">
                             <mat-form-field>
                                 <input matInput placeholder="barText" name="barText">
                             </mat-form-field>
                         </div>
                  </div>
                      <div class="row">
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input matInput placeholder="barSmallint" name="barSmallint">
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input matInput placeholder="barInteger" name="barInteger">
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input matInput placeholder="barBigint" name="barBigint">
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input matInput placeholder="barReal" name="barReal">
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input matInput placeholder="barDouble" name="barDouble">
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input matInput placeholder="barDecimal" name="barDecimal">
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input matInput placeholder="barBoolean" name="barBoolean">
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input matInput placeholder="barDate" name="barDate">
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input type="text" matInput
                                         ngxDaterangepickerMd
                                         [locale]="{applyLabel: 'ok', format: 'YYYY-MM-DD'}"
                                         startKey="start"
                                         endKey="end"
                                         [(ngModel)]="selected"
                                         name="daterange"/>
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <mat-form-field>
                                  <input matInput placeholder="barDecimal" name="barDecimal">
                              </mat-form-field>
                          </div>

                      </div>
                  </mat-expansion-panel>
              </div>
              <div class="col-md-2" id="separador"></div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>barId</th>
                  <th>barChar</th>
                  <th>barVarchar</th>
                  <th>barText</th>
                  <th>barSmallint</th>
                  <th>barInteger</th>
                  <th>barBigint</th>
                  <th>barReal</th>
                  <th>barDouble</th>
                  <th>barDecimal</th>
                  <th>barBoolean</th>
                  <th>barDate</th>
                  <th>barTimestamp</th>
                  <th>acciones</th>
                </thead>
                <tbody>
                <tr mdbTableCol *ngFor="let el of bars">
                    <td >{{el.barId}}</td>
                    <td>{{el.barChar}}</td>
                    <td>{{el.barVarchar}}</td>
                    <td>{{el.barText}}</td>
                    <td>{{el.barSmallint}}</td>
                    <td>{{el.barInteger}}</td>
                    <td>{{el.barBigint}}</td>
                    <td>{{el.barReal}}</td>
                    <td>{{el.barDouble}}</td>
                    <td>{{el.barDecimal}}</td>
                    <td>{{el.barBoolean}}</td>
                    <td>{{el.barDate}}</td>
                    <td>{{el.barTimestamp}}</td>
                    <td>
                      <button mat-raised-button class="btn btn-success btn-sm" routerLink="/barform-edit/{{el.barId}}"><i class="material-icons">create</i></button>
                      <button mat-raised-button class="btn btn-danger btn-sm" (click)="delete(el.barId)"><i class="material-icons">delete</i></button>

                    </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

