<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
              <p class="card-category" style="color:white">Bar Form</p>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="barchar" name="barchar"[(ngModel)]="bar.barChar">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="barvarchar" name="barvarchar" [(ngModel)]="bar.barVarchar">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="bartext" type="text" name="bartext" [(ngModel)]="bar.barText">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="barSmallint" type="number" name="barsmallint" [(ngModel)]="bar.barSmallint">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="barInteger" type="number" name="barinteger" [(ngModel)]="bar.barInteger">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="barBigint" type="number" name="barbigint" [(ngModel)]="bar.barBigint">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="barReal" name="barreal" type="number"  [(ngModel)]="bar.barReal">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="bardouble" type="number" name="bardouble"  [(ngModel)]="bar.barDouble">
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="barDecimal"type="number" name="bardecimal"  [(ngModel)]="bar.barDecimal">
                  </mat-form-field>
                </div>
                <div class="col-md-4">

                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" name="barBoolean" type="checkbox" [(ngModel)]="bar.barBoolean">
                        barBoolean
                      <span class="form-check-sign">
                         <span class="check"></span>
                         </span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-4">

                  <mat-form-field>
                    <input matInput class="form-control" type="text" name="barDate"
                           placeholder="barDate"
                           ngxDaterangepickerMd
                           [locale]="{
                             format: 'YYYY-MM-DD ',
                             applyLabel: 'Okay',
                             clearLabel:'Clear'}"
                           [singleDatePicker]="true"
                           [opens]="'right'"
                           startKey="startDate"
                           [(ngModel)]="selectSimple2"
                           [autoApply]="true"
                           autocomplete="off"/>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput class="form-control" type="text" name="barDateTimestamp"
                           placeholder="barDateTimestamp"
                           ngxDaterangepickerMd
                           [locale]="{
                             format: 'YYYY-MM-DD HH:mm:ss',
                             applyLabel: 'Okay',
                             clearLabel:'Clear'}"
                           [timePicker]="true"
                           [timePickerSeconds]="true"
                           [timePickerIncrement]="1"
                           [timePicker24Hour]="true"
                           [singleDatePicker]="true"
                           [opens]="'right'"
                           startKey="startDate"
                           [(ngModel)]="selectSimple"
                           [autoApply]="true"
                           autocomplete="off"/>
                  </mat-form-field>
                </div>

              </div>

              <ng-template [ngIf]="id" [ngIfElse]="loading">

                  <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="onSubmit(id)">Editar</button>
                  <button mat-raised-button type="submit" class="btn btn-default pull-right" (click)="salir()">Cancelar</button>
              </ng-template>
              <ng-template #loading>
                <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="onSubmit(id)">Guardar</button>
                <button mat-raised-button type="submit" class="btn btn-default pull-right" (click)="salir()">Cancelar</button>
              </ng-template>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

